body {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}
thead{
    background-color: #CECECE;
    font-style: italic;
    font-size: 30px;
} 
th ,td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(4n+1){
    font-style: italic;
    font-size: 30px;

}
tr:nth-child(3n) {
    font-weight: bold;
    color: green;
}
tbody tr:last-child {
    background-color: yellow;
}